{% extends "account/base.html" %}
{% load static %}

{% block title %} Main Menu {% endblock %}

{% block body %}

<div class="d-flex flex-column centered-container">

   

        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'chat_app' %}"> Chat application </a>  

        <br>

        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'ml_app' %}"> Machine Learning App </a>  

        <br>

        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'ocr_app' %}"> OCR app </a>  

        <br>

        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'dashboard_app' %}"> Dashboards </a>  

        <br>

        <a class="btn btn-primary navbar-btn" type="button" href="{% url 'chat_bot' %}"> Ecommerce Assistant </a>  

        
</div>


{% endblock %}