
{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container bg-white shadow-md p-5 form-layout">

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <p >  {{user.email}} </p>
    </div>

    <div class="form-group">
      <label for="current_password">Current Password</label>
      <input type="password" class="form-control" id="current_password" name="current_password_name" aria-describedby="emailHelp" placeholder="Enter current password">
      
    </div>

    <div class="form-group">
      <label for="new_password">New Password</label>
      <input type="password" class="form-control" id="new_password" name="new_password_name" placeholder="New password">
    </div>

    
  
    <div class="form-group">
        <label for="confirm_new_password">Confirm New Password</label>
        <input type="password" class="form-control" id="confirm_new_password" name="confirm_password_name" placeholder="Confirm new password">
    </div>



    
    <button type="submit" class="btn btn-primary" id="password_reset_button">Reset</button>

    <br><br>

    <p>Back to profile
        <a class="" href="{% url 'profile' %}">Profile</a>
    </p>
    

  </form>

  {% if messages %}

  <div class="messages">

    {% for message in messages %}

    {% if message.tags == "error" %}

    <div class="alert alert-{{ message.tags }} " style="color: red; font-size: 20px; align-items: center; justify-content: center; display: flex;">

        {{ message }}
  
      </div>

    {% endif %}

    {% endfor %}


  </div>

  {% endif %}



</div>

{% endblock %}

{% block script %} 


<script type="text/javascript">

    $('#password_reset_button').click(function() {
            // Make an AJAX GET request to the Django view
            $.ajax({
                url: "{% url 'password_reset' %}",
                type: 'GET',

                success: function(response) {
                    // Show the response message in the result div
                    
                    
                },
                error: function(error) {
                    // Handle any errors
                    
                    
                }
            });

            
        });


  </script>

{% endblock %}
